<div id="content-header">
	<h1>Cadastro >> Cliente >> Novo</h1>
</div>
<div id="content-container">	
	<br/>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastro de Cliente
				</div>
				<div class="panel-body">
					<div class="row" ng-controller="ClienteController">
                    	<div class="col-lg-6">
                       		<form role="form" name="myForm" >
	                            <div class="form-group">
	                                <label>Nome</label>
	                                <input class="form-control" required placeholder="Nome" ng-model="cliente.nome">
	                            </div>
	                             <div class="form-group">
	                                <label>Data de Cadastro</label>
	                                <input class="form-control" type="date" placeholder="Data de Cadastro" ng-model="cliente.dataCadastro">
	                            </div>
	                            <div class="form-group">
	                                <label>Status</label>
	                                <input class="form-control" placeholder="Status" ng-model="cliente.status">
	                            </div>
								<input type="submit" class="btn btn-primary" value="Salvar" ng-click="salvar()" >
	                        </form>
	                   	</div>
	            	</div>
				</div>
			</div>
		</div>
	</div>
</div>